<div class='row mt-4'>
    <h3>HÓA ĐƠN <span class='badge text-bg-success rounded-pill'>{{orderDetail._id}}</span></h3>
    <table class='table table-striped table-hover fs-5'>
        <tr>
            <th style='min-width: 300;'>MÃ HÓA ĐƠN</th>
            <td><p class='fw-bold'>{{orderDetail._id}}</p></td>
        </tr>
        <tr>
            <th>KHÁCH HÀNG</th>
            <td><p>{{userName}}</p></td>
        </tr>
        <tr>
            <th>SẢN PHẨM</th>
            <td>
                {{#each orderItems}}
                    <div class='d-flex row border rounded mt-1 me-1 fw-bold'>
                        <div class='col-3'>
                            <img src='{{this.thumb}}' class='w-50' />
                        </div>
                        <div class='col-9 d-flex flex-column justify-content-between'>
                            <div class='row'>
                                <div class='col-7'>
                                    <p class='m-0'>{{this.name}}</p>
                                </div>
                                <div class='col-5'>
                                    <p class='m-0'>MS: {{this.ms}}</p>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-5'>
                                    <p>Size: {{this.size}} - SL: {{this.amount}}</p>
                                </div>
                                <div class='col-5'>
                                    <p>{{toVND this.price}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                {{/each}}
            </td>
        </tr>
        <tr>
            <th>ĐỊA CHỈ GIAO HÀNG</th>
            <td>
                <div class='row'>
                    <p>Tên người nhận : {{orderDetail.shippingAddress.fullName}}</p>
                </div>
                <div class='row'>
                    <p>Địa chỉ : {{orderDetail.shippingAddress.address}}</p>
                </div>
                <div class='row'>
                    <p>Số điện thoại : {{orderDetail.shippingAddress.phone}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <th>TRẠNG THÁI ĐƠN HÀNG</th>
            <td>
                <div class='d-flex'>
                    <select id='updateStatusSelect' class='form-select'>{{renderSelectStatus
                            orderDetail.status
                        }}</select>
                    <button id='updateStatusButton' data-id='{{orderDetail._id}}' class='btn btn-primary ms-3 w-25'>CẬP
                        NHẬT</button>
                </div>
            </td>
        </tr>
        <tr>
            <th>PHƯƠNG THỨC THANH TOÁN</th>
            <td><p class='badge text-bg-warning m-0 rounded-pill'>{{orderDetail.paymentsMethod}}</p></td>
        </tr>
        <tr>
            <th>CƯỚC VẬN CHUYỂN</th>
            <td><p class='fw-semibold text-danger'>{{toVND orderDetail.shippingFee}}</p></td>
        </tr>
        <tr>
            <th>TỔNG TIỀN HÓA ĐƠN</th>
            <td><p class='fw-semibold text-danger'>{{toVND orderDetail.totalPrice}}</p></td>
        </tr>
        <tr>
            <th>THANH TOÁN</th>
            <td>
                {{#if orderDetail.isPaid}}
                    <p class='badge m-0 text-bg-success rounded-pill'>ĐÃ THANH TOÁN</p>
                {{else}}
                    <p class='badge m-0 text-bg-danger rounded-pill'>CHƯA THANH TOÁN</p>
                {{/if}}
            </td>
        </tr>
    </table>
</div>
<div
    class='alert alert-danger d-flex align-items-center alert-dismissible fade message-box'
    id='error-message'
    role='alert'
>
    <i class='fa-solid fa-triangle-exclamation pe-2'></i>
    <div id='error-message-content'>

    </div>
</div>
<div
    class='alert alert-success d-flex align-items-center alert-dismissible fade message-box'
    id='success-message'
    role='alert'
>
    <i class='fa-solid fa-circle-check pe-2'></i>
    <div id='success-message-content'>

    </div>
</div>
<script src='/script/admin/order.js'></script>