<form
    method='post'
    id='create-category-form'
    enctype='multipart/form-data'
    action='/tui-la-admin/tin-tuc/edit?_method=PUT'
>
    <input type='hidden' name='id' value='{{news._id}}' />
    <div class='row mt-3'>
        <div class='col-12'>
            <h4>CHỈNH SỬA TIN TỨC</h4>
        </div>
        <div class='col-12 d-flex flex-column gap-4'>
            <div class='d-flex flex-column'>
                <label for='news-title-create'>TIÊU ĐỀ</label>
                <input
                    id='news-title-create'
                    value='{{news.title}}'
                    name='title'
                    placeholder='Tiêu đề tin tức*'
                    class='px-2 py-1 mt-1'
                />
            </div>
            <div class='d-flex flex-column'>
                <label for='news-title-create'>NỘI DUNG NGẮN</label>
                <input
                    id='news-title-create'
                    name='shortContent'
                    value='{{news.shortContent}}'
                    placeholder='Nội dung ngắn*'
                    class='px-2 py-1 mt-1'
                />
            </div>
            <div class='d-flex flex-column'>
                <label for='news-content-create'>NỘI DUNG</label>
                <textarea id='summernote' name='content'>{{news.content}}</textarea>
            </div>
            <div class='d-flex flex-column'>
                <label for='category-thumb-create'>HÌNH ẢNH</label>
                <input
                    id='category-thumb-create'
                    name='thumb'
                    type='file'
                    placeholder='Hình ảnh'
                    class='px-2 py-1 border border-dark'
                />
                {{#if news.thumb}}
                    <img src='{{news.thumb}}' style='max-width: 100%;' />
                {{/if}}
            </div>
            <div>
                <button class='btn btn-primary fs-5 float-end' type='submit'>LƯU</button>
            </div>
        </div>

    </div>
</form>
<script src='/script/admin/category.js'></script>